* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
/*Fixed Header*/
#header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 8%;
    display: flex;
    align-content: center;
}


/*plus sign will styled when condition applied*/

header + section {
    padding-top: 100px;
}

#header-img {
    width: 150px;
    height: 60px;
    border: 0;
    margin: 0 auto 0 20px;
    /*let logo image float left by extending the space on right*/
}

body {
    font-family: 'Raleway', Helvetica, sans-serif;
    min-width: 320px;
    background-color: azure;
}

.nav-link {
    text-decoration: none;
    color: #e3c67b;
    font-size: 1.5em;
    width: 12%;
    text-align: center;
}

#nav-bar {
    width: 100%;
    background-color: azure;
    display: flex;
    flex-direction: row;
    align-items: center;
    /*vertical center each items*/
}

.main-content {
    margin: auto;
    width: 70%;
    text-align: center;
}

.main-content > p {
    text-align: justify;
}

.main-content > * {
    padding: 2%;
}

/*table container*/

.table {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.row-container {
    display: flex;
    width: 70%;
    flex-direction: row;
}

/*icon-section*/

.icon {
    background-color: dodgerblue;
    width: 100%;
    height: 100px;
    flex-shrink: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.icon > img {
    height: 90px;
    width: 90px;
}

/*discription*/

.disc {
    background-color: aquamarine;
    width: 100%;
    height: 100px;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
}

.disc > * {
    text-align: justify;
    padding-right: 10px;
    padding-left: 10px;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#email {
    width: 50%;
    height: 30px;
    display: block;
}

#submit {
    margin-top: 20px;
    width: 25%;
    height: 30px;
    border-radius: 0px;
    background-color: lightpink;
    color: white;
    font-size: 1.2em;
}

#product {
    display: flex;
    margin: auto;
    width: 70%;
    height: 300px;
    flex-direction: row;
    justify-content: space-between;
    background-color: antiquewhite;
}

.product-item {
    width: 30%;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.product-item > ul {
    list-style: none;
}

.product-item > h3 {
    width: 100%;
    background-color: aqua;
    padding-top: 10px;
    padding-bottom: 10px;
}

.select {
    width: 60%;
    height: 30px;
    background-color: deepskyblue;
    margin-bottom: 20px;
}
/*Footer Section*/
#footer {
    width: 70%;
    height: 60px;
    background-color: dodgerblue;
    margin: auto;
}
@media screen and (max-width: 1000px) {
    .nav-link {
        font-size: 1.1em;
        width: 25%;
        padding: 10px;
    }
    #nav-bar {
        justify-content: space-between;
    }
    .disc > * {
        font-size: 0.7em;
    }
    #product {
        width: 100%;
    }
}



@media screen and (max-width: 600px) {
    #header-img {
        margin: 0;
        margin-top: 20px;
    }
    #nav-bar {
        height: 3%;
        /*make space around each items*/
        flex-direction: column;
    }
    .nav-link {
        font-size: 1em;
        width: 100%;
        padding: 10px;
    }
    iframe {
        width: 100%;
        height: 250px;
        padding: 10px;
    }
    #header {
        height: auto;
    }

    header + section {
        padding-top: 200px;
    }
    .row-container {
        width: 100%;
    }
    .icon {
        display: none;
    }
    .disc > * {
        font-size: 0.85em;
    }
    .disc > h2 {
        text-align: center;
    }
    #email {
        width: 80%;
    }
    #submit {
        width: 50%;
        font-size: 1em;
    }
    .main-content {
        width: 90%;
    }
    #product {
        width: 80%;
        height: 500px;
        flex-direction: column;
    }
    .product-item {
        width: 100%;
    }
    .select {
        margin-bottom: 5px;
    }
}